@font-face{
  font-family: 'Ubuntu_Mono';
  src: url("./Ubuntu_Mono/UbuntuMono-Regular.ttf")
}

/* geen styling met id aub */
/* #main-slogan {
    color: rgba(64, 64, 155, 0.494);
}

h2.slogan{
    color: blue ;
} */

body{
  font-family: "Ubuntu-Mono", sans-serif;
}

body,
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h2{
  font-family: 'Ubuntu_Mono'
}
.header {
  background-image: url("../images/header-background.jpg");
  background-position: 50% 50%;
  color: rgb(13, 167, 179);
  /* padding: boven rechts onder links */
  padding: 0 150px 0 150px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  /* transition: all 3s; */
}

/* .header:hover{
    background-position: 0 0;
} */

.navigation ul{
    list-style-type: none;
}

.navigation a {
  color: rgb(11, 142, 111);
  text-decoration: none;
}

.navigation a:hover {
  color: gold;
}

.navigation-list{
  padding: 0 150px 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navigation-list li {
  margin: 0 20px;
}

.hero-container{
  background-image: url("../images/header-background.jpg");
  background-position: 50% 50%;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-content{
  background-image: url("../images/header-background.jpg");
  background-position: 50% 50%;
  width: 100vw;
}

.main-content h2{
  width: 50vw;
  height: 70vh;
  padding: 0 40 0 40;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column-two{
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}
